.card-login {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 1px;
}

.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.instagram_letters {
  margin-top: 2.8em;
  margin-bottom: 12px;
  height: 53px;
  width: 170px;
}

.instagram_text {
  height: 55px;
  padding: 25px 12px 0 0;

}

.logup-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: rgb(112, 112, 112);
  margin: 2px 30px 10px;
  text-align: center;
  line-height: 20px;
}

.login-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 2px 30px 10px;
  text-align: center;
  line-height: 20px;
  font-size: 0.9rem;
}

.form-text {
  height: 36px;
  width: 270px;
  border: 1px solid rgb(193, 193, 193);
  box-shadow: rgba(236, 236, 236, 0.324) 0px 2px 6px;
  border-radius: 3px;
  background-color: rgba(174, 174, 174, 0.106);
  font-size: 12px;
  padding: 7px 8px 7px 8px;
}

.custom-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin-top: 1px;
  height: 100%;

}

.button_insta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 270px;
  height: 34px;
  background-color: #59abf8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.button_insta:hover {

  background-color: #3d96e8;
  color: white;

}

.login-forgot {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #00376B;
  font-size: 0.8rem;
  text-decoration: none;
}

.login-signup {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #4a8bed;
}

.icons_navbar {
  height: 22px;
  stroke: black;
  stroke-width: 30px;
  margin-right: 1rem;
  padding-left: 10px;
}

.add_post_img {
  height: 80px;
}

.modal-size {
  max-height: 898px;
  max-width: 855px;
  min-height: 391px;
  min-width: 348px;
  width: 498px;
  height: 540px;
  border-radius: 15px;
}



.links_navbar {
  margin-left: 5px;
  color: #000;
  display: flex;
  align-items: center;
  border: none;
  background-color: #00000000;
  width: 100%;
  height: 3em;

}

.links_navbar:hover {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  background-color: #3737370c;
  border-radius: 10px;

  .icons_navbar {
    height: 23px;
    stroke-width: 38px;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.preview_image{
  height: 90%;
  max-width: 100%;
}

.image_cropper{
  max-height: 410px;
}
